# Environments
.env
.venv
env/
venv/
ENV/

# Configuration files
config.json
config.py

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp